/*cabeçalho*/
header {
    justify-content: center;
    background-image: linear-gradient(#0b6424, #1b9b21, #98d651, #ade56e, #caff8d);
    background-size: cover;
    color: #177d0a;
    text-align: center;
    height: 100px;
    padding: 70px;

}

header h1 {
    font-size: 50px;
    text-align: center;
}

/*navegador com sobre nós, serviços, membros e resgates*/
nav {
    padding: 10px;
    text-align: center;
    background-color: #339300;
}

nav a {
    color: #073C16;
    margin: 30px;
    background-color: #81c43568;
    border-radius: 13px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #caff8d;
}

/*section missão*/
.missao {
    padding: 20px;
    margin: 180px;
    color: #177d0a;
    font-size: 17px;
    display: grid;
}

/*corpo principal da página*/
body {
    background-color: #F0DECC;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*imagens adicionadas*/
img {
    width: 20%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px;
}

/*section com as imagens dos animais*/
.imagens {
    background-color: #073C16;
    padding-bottom: 20px;
    padding-left: 100px;

}

/*centraliza a imagem da logo e a deixa em formato circular*/
.logo {
    width: 30%;
    margin: 0 auto; /*centraliza horizontalmente*/
    border-radius: 150px;
}

/*faz com que os itens da div fiquem um do lado do outro*/
section {
    display: flex;

}

/*div com os objetivos e os valores juntos*/
.objetivos {
    background-color: #21cf0a5b;
    border-radius: 23px;
    width: 30%;
    padding: 10px;
    margin: 13%;
    font-size: 18px;
    text-decoration: none;
}

/*parte com os detalhes, que o título aparece mais coisa quando clica*/
.objetivos details {
    text-decoration: none;
    background-color: #52841968;
    border-radius: 23px;
    margin-left: 10%;
    margin-right: 10%;
}

.objetivos details p {
    font-size: 14px;
}

/*tudo relacionado ao rodapé*/
.footer {
    padding: 10px;
}

.footer ul a {
    color: #e1ffc0;
}

footer {
    background-color: #073C16;
    color: #86b74d;
}